<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="updateData" method="post">
        <input type="text" name="id" value="<%=singleData.id%>" hidden id=""><br>
        <input type="text" name="Name" value="<%=singleData.Name%>" id=""><br>
        <input type="text" name="Subject" value="<%=singleData.Subject%>" id=""><br>
        <input type="text" name="City" value="<%=singleData.City%>" id=""><br>
        <button>Submit</button>
    </form>

</body>

</html>