<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/UpdataData" method="post">
        <input type="tel" name="id" value="<%=singl.id%>" hidden>
        <br>
        <input type="text" value="<%=singl.name%>" name="name" placeholder="Enter name">
        <br>
        <input type="text" value="<%=singl.subject%>" name="subject" placeholder="Enter Subject">
        <button type="submit">Submit</button>
    </form>
</body>

</html>